h1, h2, h3, h4{
    margin: 0 0 15px;
}
p{
    margin: 0 0 10px;
}
.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 30px;
    width:90%;
    margin: 0 auto;
    padding: 15px;

}
.products-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.cart-container{
    background-color: rgba(255, 153, 0, 0.3);
    padding: 15px;

}
.cart-container a{
    text-decoration: none;
}

.reveiw-order-btn, .proceed-checkout-btn{
    background-color: #FF9900;
    color: #FFF;
    width: 100%;
    padding: 15px;
    border: none;
    font-size: 17px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    cursor: pointer;
}
.proceed-checkout-btn{
    justify-content: space-between;
}
.reveiw-order-btn .order-icon {
    margin-left: 5px;
}