h1, h2, h3, h4{
    margin: 0 0 15px;
}
p{
    margin: 0 0 5px;
}
.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 30px;
    width:90%;
    margin: 0 auto;
    padding: 15px;

}
.products-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.cart-container{
    background-color: rgba(255, 153, 0, 0.3);
    padding: 15px;

}